{% extends "base.html" %}

{% block content %}
  <div class="d-flex flex-row-reverse">
    <div class="pl-0 pt-2">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#deleteCook">
        Delete
      </button>

      <!-- Modal -->
      <div class="modal fade" id="deleteCook" tabindex="-1" role="dialog" aria-labelledby="deleteCookLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteCookLabel">Delete this cook?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <form action="{% url 'menu:cook-delete' pk=cook.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-dark">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="pl-0 pt-2">
      <a href="{% url 'menu:cook-update' pk=cook.id %}" class="btn btn-secondary link-to-page">
        Update experience
      </a>
    </div>
  </div>
  <h1 class="text-center font-weight-bolder">
    Username: {{ cook.username }}
  </h1>
  <br>
  <h5 class="font-weight-bolder">
    <strong>First name:</strong>{{ cook.first_name }}
  </h5>
  <h5 class="font-weight-bolder">
    <strong>Last name:</strong> {{ cook.last_name }}
  </h5>
  <h5 class="font-weight-bolder">
    <strong>Years of experience:</strong> {{ cook.years_of_experience }}
  </h5>
  <h5 class="font-weight-bolder">
    <strong>Is staff:</strong> {{ cook.is_staff }}
  </h5>
  <h5 class="font-weight-bolder">
    <strong>Dishes:</strong>
  </h5>
    <ul>
      {% for dish in cook.dishes.all %}
        <li>
        <a>{{ dish.name }} (type: {{ dish.category.name }})</a>
        </li>
      {% empty %}
        <h5 class="font-weight-bolder">No dishes!</h5>
      {% endfor %}
    </ul>

{% endblock %}
