{% extends "base.html" %}

{% block content %}
  <div class="d-flex flex-row-reverse">
    <div class="pl-0 pt-1">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#deleteDish">
        Delete
      </button>

      <!-- Modal -->
      <div class="modal fade" id="deleteDish" tabindex="-1" role="dialog" aria-labelledby="deleteDishLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteDishLabel">Delete this dish?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <form action="{% url 'menu:dish-delete' pk=dish.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-dark">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pl-0 pt-1">
      <a href="{% url 'menu:dish-update' pk=dish.id %}" class="btn btn-secondary link-to-page">
        Update
      </a>
    </div>
    <div class="pl-0 pt-1">
      {% if dish in user.dishes.all %}
        <a href="{% url 'menu:toggle-dish-assign' pk=dish.id %}" class="btn btn-secondary link-to-page">
          Delete me from this dish
        </a>
      {% else %}
        <a href="{% url 'menu:toggle-dish-assign' pk=dish.id %}" class="btn btn-secondary link-to-page">
          Assign me to this dish
        </a>
      {% endif %}
    </div>
  </div>

  <h1 class="text-center font-weight-bolder">
    {{ dish.name }}
  </h1>
  <br>
    <h5 class="font-weight-bolder">
      Dish type: {{ dish.category.name }}
    </h5>
    <h5 class="font-weight-bolder">
      Dish price: {{ dish.price }}UAH
    </h5>
    <h5 class="font-weight-bolder">
      Dish description: {{ dish.description }}
    </h5>
    <h5 class="font-weight-bolder">Cooks:
      <ul>
        {% for cook in dish.cooks.all %}
          <li>{{ cook.username }} - {{ cook.first_name }} {{ cook.last_name }}</li>
        {% endfor %}
      </ul>
    </h5>
{% endblock %}
